# Created by https://www.toptal.com/developers/gitignore/api/codeblocks,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=codeblocks,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

# End of https://www.toptal.com/developers/gitignore/api/codeblocks,c++